///
/// Rename to env.dart and add your auth key and secret before running the app.
/// The default keys below are for development and might get invalid at any time.
///
class Env {
  static const vasttrafikClientId = '8aOzt2RmMIG0OXSyIgjM2IkHvAoa';
  static const vasttrafikClientSecret = 'OMxjxjaXblXdpn8E1gYFehHyx3Ea';
  static const vasttrafikClientIdAlt = ''
  static const vasttrafikClientSecretAlt = ''
  static const useAltCredentials = false;
}
